menu "LCD / Touch Configuration"

    choice LCD_CONTROLLER
        prompt "LCD controller model"
        default LCD_CONTROLLER_ILI9341
        help
            Select LCD controller model

        config LCD_CONTROLLER_ILI9341
            bool "ILI9341"

        config LCD_CONTROLLER_ILI9342
            bool "ILI9342"

        config LCD_CONTROLLER_ILI9488
            bool "ILI9488"
    endchoice

    config LCD_TOUCH_ENABLED
        bool "Enable LCD touch (XPT2046)"
        default n
        help
            Enable this option if you wish to use display touch.

    config LCD_ORIENTATION_LANDSCAPE
        bool "Landscape orientation"
        default n
        help
            Enable this option if you wish to use the display in landscape mode.

    config LCD_MIRROR_Y
        int
        default 1 if LCD_TOUCH_ENABLED
        default 0
        help
            This value is 1 if touch is enabled (due to the behavior of the XPT2046 controller), 0 otherwise.

endmenu
